APP_NAME="CorretorIA"
PORT=8000
DB_URL="sqlite+aiosqlite:///./data/app.db"
MODEL_NAME="gemini-1.5-pro"
GEMINI_API_KEY="sua_chave_aqui"
AI_TEMPERATURE=0.6
CHROMA_K=4

# Evolution API
URL_EVOLUTION="http://localhost:8080"
API_KEY_EVOLUTION="sua_senha_aqui"
EVOLUTION_INSTANCE="BotRiva1"

# Webhook testing
WHATSAPP_TEST_NUMBER=""
ALLOW_FROM_ME_TEST=true
